.contact {
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 1rem;
}

.contact-bg {
    margin-bottom: 2.5rem;
}

.contact-bg h2 {
    text-align: center;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--azul-oxford);
    padding-top: 1rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.links-contact {
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.contact .auxiliar-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact a {
    font-family: "Poppins", sans-serif;
    color: var(--azul-oxford);
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    font-weight: 400;
}

.contact img {
    width: 25px;
}

.contact a .foto-span {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 0.7rem;
}

@media(max-width: 700px) {
    .contact .links-contact {
        gap: 1rem;
    }
    .contact {
        padding: 0 1.5rem;
    }
}