html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background: #ffffff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, p {
    margin: 0;
}

p {
    color: #0F172A;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}