html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #F9FAFB;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--azul-oxford);
    cursor: grab;
}