#header {
    display: flex;
    align-items: center;
    height: 77px;
    padding: 2.5rem 4rem;
    box-sizing: border-box;
    justify-content: space-between;
    /*box-shadow: 0 8px 6px -8px var(--cinza-s);*/
    font-family: "Titillium Web", sans-serif;
}

#logo {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    letter-spacing: 0.2px;
    gap: 3px;
    color: var(--azul-oxford);
    line-height: 1.5;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
}

#logo span {
    color: var(--roxo);
}

#logo img {
    width: 26px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

#menu a {
    display: block;
    padding: .5rem 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--azul-oxford);
    position: relative;
    letter-spacing: 0.4px;
}

#menu a::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: var(--roxo);
    border-radius: 3px;
    bottom: 5px;
    transition: .3s;
}

#menu a:hover::after {
    width: 100%;
}

#btn-mobile {
    display: none;
    padding: 0.4rem;
    cursor: pointer;
    /*box-shadow: 2px 2px 3px var(--azul-oxford);
    background: transparent;
    border-radius: 3px;
    border: 1px solid var(--azul-oxford);*/
}

@media(max-width: 700px) {
    #btn-mobile {
        display: block;
    }
    #header {
        padding: 2rem;
        position: relative;
        /*box-shadow: none;*/
    }
    #logo {
        font-size: 1.3rem;
    }
    #logo img {
        width: 24px;
    }
    #menu {
        display: none;
    }
    /*#nav {
        position: relative;
    }*/
    #menu {
        position: absolute;
        top: 4.8rem;
        right: 0rem;
        background: rgb(255, 255, 255);
        padding: 0.5rem 0rem 1rem 2rem;
        width: 30%;
        border-left: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }
    #menu a:hover::after {
        display: none;
    }
}