#header {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 2.5rem 4rem;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0 8px 6px -8px var(--cinza-s);
    font-family: "Poppins", sans-serif;
    position: fixed;
    width: 90%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 1000;
}

#logo {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    letter-spacing: 0.2px;
    gap: 3px;
    color: var(--azul-oxford);
    line-height: 1.5;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
}

#logo span {
    color: var(--roxo);
}

#logo img {
    width: 26px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

#menu a {
    padding: .5rem 0;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--azul-oxford);
    position: relative;
    letter-spacing: 0.2px;
}

#menu a::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--roxo);
    border-radius: 3px;
    margin-top: 0px;
    transition: .3s;
}

/*#menu a:hover::after {
    width: 100%;
}*/

#menu a:hover {
    color: var(--roxo);
}

#btn-mobile {
    display: none;
    padding: 0.4rem;
    cursor: pointer;
    /*box-shadow: 2px 2px 3px var(--azul-oxford);
    background: transparent;
    border-radius: 3px;
    border: 1px solid var(--azul-oxford);*/
}

@media(max-width: 800px) {
    #btn-mobile {
        display: block;
    }
    #header {
        position: fixed;
        /*box-shadow: none;*/
    }
    .header {
        padding: 2rem 2rem;
    }
    #logo {
        font-size: 1.3rem;
    }
    #logo img {
        width: 24px;
    }
    #menu {
        display: none;
    }
    /*#nav {
        position: relative;
    }*/
    #menu {
        position: absolute;
        top: 4.8rem;
        right: 0rem;
        background: rgb(255, 255, 255);
        padding: 0.5rem 0rem 1rem 2rem;
        width: 30%;
        border-left: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }
    #menu a:hover::after {
        display: none;
    }
    button {
        background: none;
        border: none;
    }
}