.introducao-bg {
    height: 100vh;
    padding-top: calc(9rem + 77px);
    box-sizing: border-box;
}

.introducao {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    box-sizing: border-box;
    display: grid;
    gap: 1.1rem;
    justify-items: left;
}

.introducao h1 {
    font-size: 5rem;
    color: var(--azul-oxford);
    font-weight: 700;
    line-height: 1.2;
    align-items: center;
    font-family: "Poppins", Arial, sans-serif;
    /*margin-bottom: 1rem;*/
}

.introducao p {
    font-size: 1.7rem;
    max-width: 55ch;
    color: var(--azul-oxford);
    letter-spacing: 0.2px;
    line-height: 1.8;
    font-weight: 400;
    font-family: "Mulish", Arial, sans-serif;
    /*margin-bottom: 1.1rem;*/
}

.introducao .capital-auxiliar {
    position: relative;
    cursor: pointer;
}

.introducao .capital-auxiliar::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 7px;
    display: block;
    background: var(--roxo);
    left: 0;
    bottom: 3px;
    z-index: -1;
    transition: .3s;
}

.introducao .redes {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-top: 4.5rem;
    z-index: 0;
}

.introducao .redes a {
    padding: 0.7rem;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: var(--azul-oxford);
    font-size: 28px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.introducao .redes a {
    transition: .5s;
    position: relative;
}

.introducao .redes a img {
    width: 27px;
}

.introducao .redes a.git::after {
    position: absolute;
    font-family: "Mulish";
    content: "Github";
    font-size: 0.8rem;
    display: flex;
    background: var(--azul-oxford);
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: 400;
    left: 50%;
    bottom: 55px;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    transition: .5s;
    color: var(--branco);
    opacity: 0;
    transform: translateX(-50%) translateY(10px); 
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    box-shadow: 0 8px 6px -8px var(--azul-oxford);
}

.introducao .redes a.lk::after {
    position: absolute;
    font-family: "Mulish";
    content: "Linkedin";
    font-size: 0.8rem;
    display: flex;
    background: var(--azul-oxford);
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: 400;
    left: 50%;
    bottom: 55px;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    transition: .5s;
    color: var(--branco);
    opacity: 0;
    transform: translateX(-50%) translateY(10px); 
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    box-shadow: 0 8px 6px -8px var(--azul-oxford);
}


.introducao .redes a:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.capital {
    position: relative;
    cursor: pointer;
}

.capital::after {
    position: absolute;
    content: "Capital of Mozambique";
    font-size: 0.8rem;
    display: flex;
    background: var(--azul-oxford);
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: 400;
    left: 50%;
    top: 38px;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    transition: .5s;
    color: var(--branco);
    opacity: 0;
    transform: translateX(-50%) translateY(10px); 
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
}

.capital:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

@media(max-width: 910px) {
    .introducao-bg {
        padding-top: 1rem;
    }
    .introducao {
        margin-top: 5rem;
    }
    .introducao h1 {
        font-size: 3.5rem;
    }
    .introducao p {
        font-size: 1.4rem;
    }
}

@media(max-width: 800px) {
    .introducao-bg {
        height: initial;
        padding-bottom: 2rem;
    }
}

@media(max-width: 650px) {
    .introducao-bg {
        padding-bottom: 1rem;
    }
    .introducao .capital-auxiliar::after {
        display: none;
    }
    .introducao {
        margin-top: 7rem;
        justify-items: center;
        text-align: center;
    }
    .introducao .btn-cv {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }
    .introducao h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    .introducao p {
        max-width: initial;
        font-size: 1.2rem;
        line-height: 1.7;
    }
    .introducao .redes {
        gap: 1.5rem;
        padding-top: 0rem;
    }
    .introducao .redes img {
        width: 22px;
    }
}