.projects-container {
    padding: 2rem 2rem;
    max-width: 1200px;
    margin: auto;
}

.projects-area {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
}

.projects-container h2 {
    color: #7E5ECC;
    margin-bottom: 0.8rem;
    font-size: 1.7rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 2rem;
}

.projects-container .project {
    display: grid;
    gap: 0.7rem;
    justify-items: left;
}

.projects-container .project a {
    color: #FFFFFF;
    font-weight: 500;
    transition: 0.5s;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.5rem 1rem;
    border: 1px solid #0F172A;
    border-radius: 4px;
    background: #0F172A;
}

.projects-container .project a img {
    width: 20px;
}

.projects-container .project a:hover {
    background: #7E5ECC;
    border: 1px solid #7E5ECC;
    color: #FFFFFF;
}

.projects-container .project img.img-project {
    transition: 0.5s;
    cursor: pointer;
    border-radius: 8px;
}

.projects-container .project-links {
    display: flex;
    gap: 1rem;
}

.projects-container .project img.img-project:hover {
    transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
    box-shadow: 2px 10px 30px #0F172A;
}

@media(max-width: 500px) {
    .project-container h2 {
        font-size: 1.4rem;
    }

    .project-container {
        padding: 2rem;
    }

    .project-container .projecto a img {
        width: 18px;
    }

    .project-container .project a {
        font-size: 0.9rem
    }

}

@media(max-width: 800px) {
    .projects-area {
        grid-template-columns: 1fr;
    }
}